on early-boot
    # Dolby
    mkdir /data/vendor/dolby 0770 media media
    mkdir /data/vendor/multimedia 0775 system system

on post-fs-data
    # VideoCodec
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1

    # AudioDump
    mkdir /data/vendor/audiohal 0771 system audio
    mkdir /data/vendor/audiohal/audio_param 0771 system audio

    # Fix the access permissions and group ownership for 'bt_config.conf'
    mkdir /data/misc/bluetooth 0771 bluetooth bluetooth
    mkdir /data/misc/bluetooth/logs 0771 bluetooth bluetooth
